@{
Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <title>Space Dynamic - SEO HTML5 Template</title>

  <!-- Bootstrap core CSS -->
  <link href="@Url.Content("~/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="@Url.Content("~/css/fontawesome.css")" />
  <link rel="stylesheet" href="@Url.Content("~/css/templatemo-space-dynamic.css")" />
  <link rel="stylesheet" href="@Url.Content("~/css/animated.css")" />
  <link rel="stylesheet" href="@Url.Content("~/css/owl.css")" />
</head>

<body>

<!-- ***** Preloader Start ***** -->
<div id="js-preloader" class="js-preloader">
  <div class="preloader-inner">
    <span class="dot"></span>
    <div class="dots">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="index.html" class="logo">
            <h4>Z<span>ELA</span></h4>
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li class="scroll-to-section"><a href="#top" class="active">Trang Chủ</a></li>
            <li class="scroll-to-section"><a href="#services">Dịch Vụ</a></li>
            <li class="scroll-to-section">
              <div class="main-red-button"><a href="/Account/Login">Đăng Nhập</a></div>
            </li>
          </ul>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->

<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6 align-self-center">
            <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
              <h6>Chào mừng bạn đến với Web Zela - Nhóm 6</h6>
              <h2>Chúng tôi phát triển <em>Zela Chat</em> &amp; <span>Gọi Video</span> Học Tập</h2>
              <p>Zela là một nền tảng học trực tuyến hỗ trợ trò chuyện và gọi video, giúp kết nối người học một cách dễ dàng và hiệu quả. Dự án được xây dựng nhằm hỗ trợ học tập linh hoạt và tương tác thời gian thực.</p>

              <form id="search" method="GET" asp-action="AnalyzeSite">
                <fieldset>
                  <input type="text" name="address" class="email" placeholder="Nói gì đi các tình eeeuuuu <3" autocomplete="on" required>
                </fieldset>
                <fieldset>
                  <button type="submit" class="main-button">Hỏi đi con vợ ??</button>
                </fieldset>
              </form>
            </div>
          </div>
          <div class="col-lg-6">
            <iframe 
              src="https://my.spline.design/bearintheforesthoverloopanimation-KysQbtcjc6j5VzvwMdJLPyAK/" 
              frameborder="0" 
              width="100%" 
              height="100%" 
              style="pointer-events: none; display: block;">
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="about" class="about-us section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="left-image wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
          <img src="@Url.Content("~/images/about-left-image.png")" alt="person graphic" />
        </div>
      </div>
      <div class="col-lg-8 align-self-center">
        <div class="services">
          <div class="row">
            <!-- Service Items -->
            @* Repeatable structure here: Add your dynamic or static content *@
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
@{
Layout = null;
}

<div id="portfolio" class="our-portfolio section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="section-heading wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
          <h2>See What Our Agency <em>Offers</em> &amp; What We <span>Provide</span></h2>
        </div>
      </div>
    </div>
    <div class="row">
      @foreach (var item in new[] {
      new { Title = "SEO Analysis", Description = "Lorem ipsum dolor sit ameti ctetur aoi adipiscing eto." },
      new { Title = "Website Reporting", Description = "Lorem ipsum dolor sit ameti ctetur aoi adipiscing eto." },
      new { Title = "Performance Tests", Description = "Lorem ipsum dolor sit ameti ctetur aoi adipiscing eto." },
      new { Title = "Data Analysis", Description = "Lorem ipsum dolor sit ameti ctetur aoi adipiscing eto." }
      })
      {
      <div class="col-lg-3 col-sm-6">
        <a href="#">
          <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
            <div class="hidden-content">
              <h4>@item.Title</h4>
              <p>@item.Description</p>
            </div>
            <div class="showed-content">
              <img src="@Url.Content("~/images/portfolio-image.png")" alt="Portfolio Image" />
            </div>
          </div>
        </a>
      </div>
      }
    </div>
  </div>
</div>

<div id="blog" class="our-blog section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.25s">
        <div class="section-heading">
          <h2>Check Out What Is <em>Trending</em> In Our Latest <span>News</span></h2>
        </div>
      </div>
      <div class="col-lg-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.25s">
        <div class="top-dec">
          <img src="@Url.Content("~/images/blog-dec.png")" alt="Decoration" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
        <div class="left-image">
          <a href="#"><img src="@Url.Content("~/images/big-blog-thumb.jpg")" alt="Workspace Desktop" /></a>
          <div class="info">
            <div class="inner-content">
              <ul>
                <li><i class="fa fa-calendar"></i> 24 Mar 2021</li>
                <li><i class="fa fa-users"></i> TemplateMo</li>
                <li><i class="fa fa-folder"></i> Branding</li>
              </ul>
              <a href="#"><h4>SEO Agency &amp; Digital Marketing</h4></a>
              <p>Lorem ipsum dolor sit amet, consectetur and sed doer ket eismod tempor incididunt ut labore et dolore magna...</p>
              <div class="main-blue-button">
                <a href="#">Discover More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
        <div class="right-list">
          <ul>
            @foreach (var blog in new[] {
            new { Date = "18 Mar 2021", Title = "New Websites & Backlinks", Description = "Lorem ipsum dolor sit amsecteturii and sed doer ket eismod..." },
            new { Date = "14 Mar 2021", Title = "SEO Analysis & Content Ideas", Description = "Lorem ipsum dolor sit amsecteturii and sed doer ket eismod..." },
            new { Date = "06 Mar 2021", Title = "SEO Tips & Digital Marketing", Description = "Lorem ipsum dolor sit amsecteturii and sed doer ket eismod..." }
            })
            {
            <li>
              <div class="left-content align-self-center">
                <span><i class="fa fa-calendar"></i> @blog.Date</span>
                <a href="#"><h4>@blog.Title</h4></a>
                <p>@blog.Description</p>
              </div>
              <div class="right-image">
                <a href="#"><img src="@Url.Content("~/images/blog-thumb-01.jpg")" alt="" /></a>
              </div>
            </li>
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="contact" class="contact-us section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-self-center wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.25s">
        <div class="section-heading">
          <h2>Feel Free To Send Us a Message About Your Website Needs</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doer ket eismod tempor incididunt ut labore et dolores</p>
          <div class="phone-info">
            <h4>For any enquiry, Call Us: <span><i class="fa fa-phone"></i> <a href="#">010-020-0340</a></span></h4>
          </div>
        </div>
      </div>
      <div class="col-lg-6 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.25s">
        <form id="contact-form" asp-action="Contact" method="post">
          <div class="row">
            <div class="col-lg-6">
              <fieldset>
                <input type="text" name="name" id="name" placeholder="Name" autocomplete="on" required />
              </fieldset>
            </div>
            <div class="col-lg-6">
              <fieldset>
                <input type="text" name="surname" id="surname" placeholder="Surname" autocomplete="on" required />
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <input type="email" name="email" id="email" placeholder="Your Email" required />
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <textarea name="message" id="message" class="form-control" placeholder="Message" required></textarea>
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <button type="submit" id="form-submit" class="main-button">Send Message</button>
              </fieldset>
            </div>
          </div>
          <div class="contact-dec">
            <img src="@Url.Content("~/images/contact-decoration.png")" alt="Contact Decoration" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.25s">
        <p>&copy; Copyright 2021 Space Dynamic Co. All Rights Reserved.
          <br />Design: <a rel="nofollow" href="https://templatemo.com">TemplateMo</a></p>
      </div>
    </div>
  </div>
</footer>
<!-- Scripts -->
<script src="@Url.Content("~/jquery/jquery.min.js")"></script>
<script src="@Url.Content("~/bootstrap/js/bootstrap.bundle.min.js")"></script>
<script src="@Url.Content("~/js/owl-carousel.js")"></script>
<script src="@Url.Content("~/js/animation.js")"></script>
<script src="@Url.Content("~/js/imagesloaded.js")"></script>
<script src="@Url.Content("~/js/templatemo-custom.js")"></script>

</body>
</html>
