@model List<Zela.ViewModels.FriendViewModel>

<div class="friend-items" id="friend-list">
    @foreach (var f in Model)
    {
        <div class="friend-item"
             data-id="@f.UserId"
             data-name="@f.FullName"
             data-avatar="@f.AvatarUrl"
             data-online="@f.IsOnline">
            <img class="friend-avatar" src="@f.AvatarUrl" alt="Avatar" />
            <div class="friend-info">
                <div class="friend-name">@f.FullName</div>
                <div class="friend-last-msg">@f.LastMessage</div>
            </div>
            <div class="friend-meta">
                <span class="friend-time">@f.LastTime</span>
                <span class="friend-status @(f.IsOnline ? "online" : "offline")">
                    <i class="bi bi-circle-fill"></i>
                </span>
            </div>
        </div>
    }
</div>